$off-white: #f2f4f5;
$concreat-white: #b3b6b9;
$off-black: #3a3e41;

// // Colors
$bg-color: #fff;
$dot-color: #3a3e41;

// // Dimensions
$dot-size: 1px;
$dot-space: 25px;

.accordion {
  cursor: pointer;
  border: none;
  outline: none;
}

.accordion__title {
  font-family: fira sans, Sans-serif;
  letter-spacing: 0.46px;
  padding-top: 1rem;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5em;
  text-align: left;
  background: #2f2f30;
  color: #a5a5a7;
  &:hover {
    color: $concreat-white;
    border-bottom: 2px solid $off-black;
  }
  /* background-color: aqua; */
}
.rotate {
  transform: rotate(90deg);
}
.accordion__content {
  overflow: hidden;
  transition: max-height 0.6s ease;
}
.accordion__text {
  padding-top: 1rem;
}
