.banner {
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;

  .banner__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .banner__title {
      font-size: 10vw;
      font-weight: bold;
      color: #24292f;
    }
    .banner__position {
      font-size: 6vw;
      font-weight: 500;

      background-color: #faee1c;
      padding: 0 1.2rem 0 1.2rem;
      border-radius: 4px;
      color: #24292f;

      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .banner__subtitle {
      font-size: 1.2rem;
      padding: 0.8rem;
      color: #3a3e41d2;
    }
    .banner__resumeLink {
      background-color: maroon;
      border-radius: 4px;
      padding: 0.25rem 0.5rem;
      .banner__link {
        text-decoration: none;
        color: #fff;
        letter-spacing: 0.075em;
        font-weight: 800;
      }
      &:hover {
        transition: ease-in-out 300ms;
        background-color: rgba(128, 0, 0, 0.712);
      }
    }
  }

  @media (max-width: 1440px) {
    right: 112px;
  }
}
