.portfolio__container {
  min-height: 100%;
  padding: 0 8%;
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;

  .bgRed {
    background-color: maroon;
  }

  //   UNIVERSAL ---------------

  .details__title {
    color: #1dbff3;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .details__description {
    font-size: 1.1rem;
    // font-weight: 100;
    color: rgba(0, 0, 0, 0.72);
    padding: 0.5rem 0 0.5rem 0;
    letter-spacing: 0.85px;
    line-height: 1.6rem;
  }
  .details__links {
    padding: 0.9rem 0 0 0;
    .link {
      font-size: 1.1rem;
      font-weight: bold;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.72);
      padding: 2px 5px;
      border-radius: 4px;
      background-color: #f5f5f5;
      letter-spacing: 0.68px;
    }
  }
  .double__image {
    @media (max-width: 800px) {
      text-align: center;
    }
  }

  .details__stack {
    font-size: 0.9rem;
    color: #1dbff3;
  }
  //   UNIVERSAL STOPS ---------------

  .portfolio__title {
    font-size: 5vw;
    color: #3a3e41;
    padding: 1rem;
  }

  .portfolio__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 2rem 0 2rem 0;

    @media (max-width: 768px) {
      grid-template-columns: 100%;
    }

    .image__container__red__bg {
      background-color: #ffcdd2 !important;
    }
    .image__container__cyan__bg {
      background-color: #e0f7fa !important;
    }
    .image__container__blue__bg {
      background-color: #d1c4e9 !important;
    }
    .portfolio__image__container {
      background-color: #ecf0f1;
      .image__container {
        padding: 2rem;
        .image {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
        }
      }
    }

    .portfolio__details__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
    }
  }
}
