$off-white: #f2f4f5;
$concreat-white: #b3b6b9;
$off-black: #3a3e41;

// // Colors
$bg-color: #fff;
$dot-color: #3a3e41;

// // Dimensions
$dot-size: 1px;
$dot-space: 25px;

/* Style the accordion section */
.accordion__section {
  /* display: flex; */
  /* flex-direction: column; */
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  border: none;
  outline: none;
}

/* Style the accordion content title */
.accordion__title {
  font-family: fira sans, Sans-serif;
  letter-spacing: 0.46px;
  padding-top: 1rem;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
  text-align: left;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;

  border-bottom: 2px solid $concreat-white;
  color: $off-black;
  &:hover {
    color: $concreat-white;
    border-bottom: 2px solid $off-black;
  }
  /* background-color: aqua; */
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  padding-top: 1rem;
}
